@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/*  */
:root {
  --container-size: 940px;
}

.header,
.visual,
.main,
.slogan,
.footer-inner {
  width: var(--container-size, 940px);
  margin: 0 auto;
}

/* 버튼스타일 */
button,
a {
  display: inline-block;
  width: 100px;
  padding: 20px;
  border: 1px solid currentColor;
  border-radius: 10px;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

/* 헤더 */
.header {
  background-color: yellow;
  height: 10vh;
  padding: 0 50px;
  /*padding: 위 아래 좌 우  */
}
/* 비주얼 */
.visual {
  background-color: pink;
  height: 10vh;
}
/* 메인 콘텐츠 */
/* flex container -> direction 기본적으로 row */
.main {
  background-color: skyblue;
  display: flow-root; /* 부모에 뭐더라...영상 다시보기*/
  min-height: 450px;
  padding: 28px 16px 36px;
  /* display박스의 성격 설정):  none;-> 블록 생성 X*/
  /* flex-flow: direction과 wrap(줄바꿈) 속성  두 개가 동시에 */
  /* justify-content: center; */
}

.group {
  border: 1px solid red;
  /* 부모(main)를 잃은 자식(float해서)은 auto가 적용되지 않는다*/
  margin: 0 15px;
  float: left;
}

.group:nth-child(n + 2) {
  margin-left: 44px;
}

/* CSS의 인덱스 번호는 0이 아니라 1로 시작함 */
.group1 {
  background-color: orange;
  width: 250px;
}

.group2 {
  background: silver;
  width: 380px;
}

.group3 {
  background-color: hotpink;
  width: 190px;
}

/* 슬로건 */
.slogan {
  background-color: lime;
  height: 10vh;
  clear: both; /* float의 영향을 받지 않도록 함*/
}
/* 푸터 */
.footer {
  background-color: orange;
}

.footer-inner {
  background-color: yellow;
  height: 10vh;
}

/* flex를 지우너하는 웹브라우저를 위한 스타일 */
@supports (display: flex;) {
  .main {
    padding: 28px 16px 36px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}
